* {
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0;

}

a {
    text-decoration: none;
}


/* Hier is alles in de nav */
nav {
    padding: 10px 40px 10px 70px;
    border-bottom: 2px solid rgb(192, 125, 25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.links {
    display: flex;
    gap: 10px;
    align-items: center;
}

nav a {
    color: rgb(192, 125, 25);
    padding: 5px 10px;
    border-radius: 5px;
    border-bottom: solid 2px white;
}

nav a:hover {
    border-bottom: solid 2px rgb(192, 125, 25);
}

.lodgelogo {
    max-width: 50px;
    width: auto;
    display: flex;
}

/* Hier is alles in de header */
h1 {
    font-weight: 700;
    font-size: 3rem;
    color: white;
}

header {
    height: calc(100vh - 72.48px);
    background-image: url(../images/large.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(192, 125, 25);
}

.backgroundimg {
    object-fit: cover;
    width: 100vw;
    height: 100vh;

}

header p {
    font-size: 1rem;
    color: white;
    max-width: 60vw;
    text-align: center;
}

.header-buttons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.header-buttons a {
    background-color: rgb(192, 125, 25);
    color: white;
    padding: 10px 50px;
    gap: 10px;
    border-radius: 5px;
    border: 2px solid rgb(192, 125, 25);
}

.header-buttons a:hover {
    background-color: rgb(209, 146, 52);
}


/* hier komt alles van section 2 */
h2 {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(192, 125, 25);
}


#populaire-lodges {
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    flex-direction: column;
}

.lodges {
    display: flex;
    gap: 20px;
    border-radius: 5px;
    max-width: 60vw;
}

.lodge {
    border: 2px solid rgb(192, 125, 25);
    flex: 1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}

.lodge:hover {
    scale: 105%;
    box-shadow: 11px 7px 10px -1px rgba(0, 0, 0, 0.39);
}

.lodgesimages {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid rgb(192, 125, 25);
}

.lodge-info {
    margin: 2px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    flex: 1;
}

.lodge-info a {
    background-color: none;
    color: black;
    padding: 10px 50px;
    border-radius: 5px;
    border: 2px solid rgb(192, 125, 25);
    text-align: center;
}

.lodge-info a:hover {
    background-color: rgb(192, 125, 25);
    color: white;
}


.star {
    width: 13%;
}

/* Hier komt alles van het formulier */

h4 {
    color: white;
    font-size: 2rem;
}

.form {
    background-color: rgb(241, 188, 108);
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    padding: 80px 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.formfield {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.formfield-two {
    display: flex;
    gap: 20px
}

label {
    color: rgb(192, 125, 25);
    font-weight: bold;
    font-size: 0.9rem;
}

input,
select,
textarea {
    font-size: 0.9rem;
    padding: 10px;
    border-radius: 5px;
    border: solid 2px rgb(192, 125, 25);
}

form button {
    padding: 6px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: rgb(192, 125, 25);
    border: solid 3px rgb(192, 125, 25);
    color: white;
    height: 50px;
    font-weight: bold;
}

form button:hover {
    background-color: rgb(209, 146, 52);
}

input:valid,
select:valid {
    border: solid 2px green;
}

#birthday:invalid {
    border: solid 2px rgb(192, 125, 25);
}

input:invalid:not(:placeholder-shown) {
    border: solid 2px red;
}

/* Hier is alles van de footer */
footer {
    background-color: rgb(192, 125, 25);
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footertekst {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a,
footer p {
    text-decoration: none;
    color: white;
}

.footerlinks {
    display: flex;
    gap: 20px;
}

.socials {
    display: flex;
    gap: 10px;
}

.socialslogo {
    width: 30px;
}




/* Hier alles om te scalen naar telefoon */
@media (width <=480px) {

    nav {
        flex-direction: column;
        gap: 10px;
        position: relative;
        padding: 20px 70px 20px 70px;
    }

    header {
        height: 100vh;
    }

    .links {
        flex-direction: column;
        gap: 10px;
    }

    h2 {
        font-size: 2.5rem;
    }

    .lodgesimages {
        height: 250px;
    }

    .lodges {
        flex-direction: column;
        max-width: 90vw;
    }

    .formfield-two {
        flex-direction: column;
    }

    .footerlinks,
    .footertekst {
        flex-direction: column;
        text-align: center;
    }

    footer {
        align-items: center;
        gap: 20px;
    }
}